WfControlVentas/Connected Services/wcfControlVentas/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49923/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49923/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49923/Service.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_InicioSesion_InputMessage">
    <wsdl:part name="parameters" element="tns:InicioSesion" />
  </wsdl:message>
  <wsdl:message name="IService_InicioSesion_OutputMessage">
    <wsdl:part name="parameters" element="tns:InicioSesionResponse" />
  </wsdl:message>
  <wsdl:message name="IService_agregarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:agregarUsuario" />
  </wsdl:message>
  <wsdl:message name="IService_agregarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:agregarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService_IngresarFactura_InputMessage">
    <wsdl:part name="parameters" element="tns:IngresarFactura" />
  </wsdl:message>
  <wsdl:message name="IService_IngresarFactura_OutputMessage">
    <wsdl:part name="parameters" element="tns:IngresarFacturaResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ActualizarFactura_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarFactura" />
  </wsdl:message>
  <wsdl:message name="IService_ActualizarFactura_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarFacturaResponse" />
  </wsdl:message>
  <wsdl:message name="IService_IngresarVenta_InputMessage">
    <wsdl:part name="parameters" element="tns:IngresarVenta" />
  </wsdl:message>
  <wsdl:message name="IService_IngresarVenta_OutputMessage">
    <wsdl:part name="parameters" element="tns:IngresarVentaResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ActualizarVenta_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarVenta" />
  </wsdl:message>
  <wsdl:message name="IService_ActualizarVenta_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarVentaResponse" />
  </wsdl:message>
  <wsdl:message name="IService_IngresarProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:IngresarProducto" />
  </wsdl:message>
  <wsdl:message name="IService_IngresarProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:IngresarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ActualizarProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarProducto" />
  </wsdl:message>
  <wsdl:message name="IService_ActualizarProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EliminarProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarProducto" />
  </wsdl:message>
  <wsdl:message name="IService_EliminarProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EliminarVenta_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarVenta" />
  </wsdl:message>
  <wsdl:message name="IService_EliminarVenta_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarVentaResponse" />
  </wsdl:message>
  <wsdl:message name="IService_mostrarFacturaDinamico_InputMessage">
    <wsdl:part name="parameters" element="tns:mostrarFacturaDinamico" />
  </wsdl:message>
  <wsdl:message name="IService_mostrarFacturaDinamico_OutputMessage">
    <wsdl:part name="parameters" element="tns:mostrarFacturaDinamicoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_mostrarFacturaEdit_InputMessage">
    <wsdl:part name="parameters" element="tns:mostrarFacturaEdit" />
  </wsdl:message>
  <wsdl:message name="IService_mostrarFacturaEdit_OutputMessage">
    <wsdl:part name="parameters" element="tns:mostrarFacturaEditResponse" />
  </wsdl:message>
  <wsdl:message name="IService_mostrarProductoDinamico_InputMessage">
    <wsdl:part name="parameters" element="tns:mostrarProductoDinamico" />
  </wsdl:message>
  <wsdl:message name="IService_mostrarProductoDinamico_OutputMessage">
    <wsdl:part name="parameters" element="tns:mostrarProductoDinamicoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_mostrarProductoCRUD_InputMessage">
    <wsdl:part name="parameters" element="tns:mostrarProductoCRUD" />
  </wsdl:message>
  <wsdl:message name="IService_mostrarProductoCRUD_OutputMessage">
    <wsdl:part name="parameters" element="tns:mostrarProductoCRUDResponse" />
  </wsdl:message>
  <wsdl:message name="IService_mostrarVentaDinamico_InputMessage">
    <wsdl:part name="parameters" element="tns:mostrarVentaDinamico" />
  </wsdl:message>
  <wsdl:message name="IService_mostrarVentaDinamico_OutputMessage">
    <wsdl:part name="parameters" element="tns:mostrarVentaDinamicoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_mostrarVentaCRUD_InputMessage">
    <wsdl:part name="parameters" element="tns:mostrarVentaCRUD" />
  </wsdl:message>
  <wsdl:message name="IService_mostrarVentaCRUD_OutputMessage">
    <wsdl:part name="parameters" element="tns:mostrarVentaCRUDResponse" />
  </wsdl:message>
  <wsdl:message name="IService_mostrarHistorialDinamico_InputMessage">
    <wsdl:part name="parameters" element="tns:mostrarHistorialDinamico" />
  </wsdl:message>
  <wsdl:message name="IService_mostrarHistorialDinamico_OutputMessage">
    <wsdl:part name="parameters" element="tns:mostrarHistorialDinamicoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_mostrarUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:mostrarUsuarios" />
  </wsdl:message>
  <wsdl:message name="IService_mostrarUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:mostrarUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="IService_buscadorFacturas_InputMessage">
    <wsdl:part name="parameters" element="tns:buscadorFacturas" />
  </wsdl:message>
  <wsdl:message name="IService_buscadorFacturas_OutputMessage">
    <wsdl:part name="parameters" element="tns:buscadorFacturasResponse" />
  </wsdl:message>
  <wsdl:message name="IService_buscadorProductos_InputMessage">
    <wsdl:part name="parameters" element="tns:buscadorProductos" />
  </wsdl:message>
  <wsdl:message name="IService_buscadorProductos_OutputMessage">
    <wsdl:part name="parameters" element="tns:buscadorProductosResponse" />
  </wsdl:message>
  <wsdl:message name="IService_buscadorVentas_InputMessage">
    <wsdl:part name="parameters" element="tns:buscadorVentas" />
  </wsdl:message>
  <wsdl:message name="IService_buscadorVentas_OutputMessage">
    <wsdl:part name="parameters" element="tns:buscadorVentasResponse" />
  </wsdl:message>
  <wsdl:message name="IService_mostrarInversion_InputMessage">
    <wsdl:part name="parameters" element="tns:mostrarInversion" />
  </wsdl:message>
  <wsdl:message name="IService_mostrarInversion_OutputMessage">
    <wsdl:part name="parameters" element="tns:mostrarInversionResponse" />
  </wsdl:message>
  <wsdl:message name="IService_mostrarGanancia_InputMessage">
    <wsdl:part name="parameters" element="tns:mostrarGanancia" />
  </wsdl:message>
  <wsdl:message name="IService_mostrarGanancia_OutputMessage">
    <wsdl:part name="parameters" element="tns:mostrarGananciaResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="InicioSesion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/InicioSesion" message="tns:IService_InicioSesion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/InicioSesionResponse" message="tns:IService_InicioSesion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="agregarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/agregarUsuario" message="tns:IService_agregarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/agregarUsuarioResponse" message="tns:IService_agregarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IngresarFactura">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/IngresarFactura" message="tns:IService_IngresarFactura_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/IngresarFacturaResponse" message="tns:IService_IngresarFactura_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarFactura">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ActualizarFactura" message="tns:IService_ActualizarFactura_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ActualizarFacturaResponse" message="tns:IService_ActualizarFactura_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IngresarVenta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/IngresarVenta" message="tns:IService_IngresarVenta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/IngresarVentaResponse" message="tns:IService_IngresarVenta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarVenta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ActualizarVenta" message="tns:IService_ActualizarVenta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ActualizarVentaResponse" message="tns:IService_ActualizarVenta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IngresarProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/IngresarProducto" message="tns:IService_IngresarProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/IngresarProductoResponse" message="tns:IService_IngresarProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ActualizarProducto" message="tns:IService_ActualizarProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ActualizarProductoResponse" message="tns:IService_ActualizarProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EliminarProducto" message="tns:IService_EliminarProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EliminarProductoResponse" message="tns:IService_EliminarProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarVenta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EliminarVenta" message="tns:IService_EliminarVenta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EliminarVentaResponse" message="tns:IService_EliminarVenta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="mostrarFacturaDinamico">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/mostrarFacturaDinamico" message="tns:IService_mostrarFacturaDinamico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/mostrarFacturaDinamicoResponse" message="tns:IService_mostrarFacturaDinamico_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="mostrarFacturaEdit">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/mostrarFacturaEdit" message="tns:IService_mostrarFacturaEdit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/mostrarFacturaEditResponse" message="tns:IService_mostrarFacturaEdit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="mostrarProductoDinamico">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/mostrarProductoDinamico" message="tns:IService_mostrarProductoDinamico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/mostrarProductoDinamicoResponse" message="tns:IService_mostrarProductoDinamico_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="mostrarProductoCRUD">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/mostrarProductoCRUD" message="tns:IService_mostrarProductoCRUD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/mostrarProductoCRUDResponse" message="tns:IService_mostrarProductoCRUD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="mostrarVentaDinamico">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/mostrarVentaDinamico" message="tns:IService_mostrarVentaDinamico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/mostrarVentaDinamicoResponse" message="tns:IService_mostrarVentaDinamico_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="mostrarVentaCRUD">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/mostrarVentaCRUD" message="tns:IService_mostrarVentaCRUD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/mostrarVentaCRUDResponse" message="tns:IService_mostrarVentaCRUD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="mostrarHistorialDinamico">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/mostrarHistorialDinamico" message="tns:IService_mostrarHistorialDinamico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/mostrarHistorialDinamicoResponse" message="tns:IService_mostrarHistorialDinamico_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="mostrarUsuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/mostrarUsuarios" message="tns:IService_mostrarUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/mostrarUsuariosResponse" message="tns:IService_mostrarUsuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="buscadorFacturas">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/buscadorFacturas" message="tns:IService_buscadorFacturas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/buscadorFacturasResponse" message="tns:IService_buscadorFacturas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="buscadorProductos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/buscadorProductos" message="tns:IService_buscadorProductos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/buscadorProductosResponse" message="tns:IService_buscadorProductos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="buscadorVentas">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/buscadorVentas" message="tns:IService_buscadorVentas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/buscadorVentasResponse" message="tns:IService_buscadorVentas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="mostrarInversion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/mostrarInversion" message="tns:IService_mostrarInversion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/mostrarInversionResponse" message="tns:IService_mostrarInversion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="mostrarGanancia">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/mostrarGanancia" message="tns:IService_mostrarGanancia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/mostrarGananciaResponse" message="tns:IService_mostrarGanancia_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InicioSesion">
      <soap:operation soapAction="http://tempuri.org/IService/InicioSesion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarUsuario">
      <soap:operation soapAction="http://tempuri.org/IService/agregarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IngresarFactura">
      <soap:operation soapAction="http://tempuri.org/IService/IngresarFactura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarFactura">
      <soap:operation soapAction="http://tempuri.org/IService/ActualizarFactura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IngresarVenta">
      <soap:operation soapAction="http://tempuri.org/IService/IngresarVenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarVenta">
      <soap:operation soapAction="http://tempuri.org/IService/ActualizarVenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IngresarProducto">
      <soap:operation soapAction="http://tempuri.org/IService/IngresarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarProducto">
      <soap:operation soapAction="http://tempuri.org/IService/ActualizarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarProducto">
      <soap:operation soapAction="http://tempuri.org/IService/EliminarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarVenta">
      <soap:operation soapAction="http://tempuri.org/IService/EliminarVenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mostrarFacturaDinamico">
      <soap:operation soapAction="http://tempuri.org/IService/mostrarFacturaDinamico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mostrarFacturaEdit">
      <soap:operation soapAction="http://tempuri.org/IService/mostrarFacturaEdit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mostrarProductoDinamico">
      <soap:operation soapAction="http://tempuri.org/IService/mostrarProductoDinamico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mostrarProductoCRUD">
      <soap:operation soapAction="http://tempuri.org/IService/mostrarProductoCRUD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mostrarVentaDinamico">
      <soap:operation soapAction="http://tempuri.org/IService/mostrarVentaDinamico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mostrarVentaCRUD">
      <soap:operation soapAction="http://tempuri.org/IService/mostrarVentaCRUD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mostrarHistorialDinamico">
      <soap:operation soapAction="http://tempuri.org/IService/mostrarHistorialDinamico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mostrarUsuarios">
      <soap:operation soapAction="http://tempuri.org/IService/mostrarUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscadorFacturas">
      <soap:operation soapAction="http://tempuri.org/IService/buscadorFacturas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscadorProductos">
      <soap:operation soapAction="http://tempuri.org/IService/buscadorProductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscadorVentas">
      <soap:operation soapAction="http://tempuri.org/IService/buscadorVentas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mostrarInversion">
      <soap:operation soapAction="http://tempuri.org/IService/mostrarInversion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mostrarGanancia">
      <soap:operation soapAction="http://tempuri.org/IService/mostrarGanancia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:49923/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>