WfControlVentas/Connected Services/wcfReporte/wcfReporte.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53879/wcfReporte.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/wcfReporte" />
  <xs:element name="mostrarTopVentas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="mostrarTopVentasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/wcfReporte" minOccurs="0" name="mostrarTopVentasResult" nillable="true" type="q1:ArrayOfTopVentas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mostrarTopPago">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="mostrarTopPagoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/wcfReporte" minOccurs="0" name="mostrarTopPagoResult" nillable="true" type="q2:ArrayOfTopPago" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mostrarTopMarca">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="mostrarTopMarcaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/wcfReporte" minOccurs="0" name="mostrarTopMarcaResult" nillable="true" type="q3:ArrayOftopMarca" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>