WfControlVentas/Connected Services/wcfReporte/wcfReporte.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="wcfReporte" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53879/wcfReporte.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53879/wcfReporte.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53879/wcfReporte.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/wcfReporte" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IwcfReporte_mostrarTopVentas_InputMessage">
    <wsdl:part name="parameters" element="tns:mostrarTopVentas" />
  </wsdl:message>
  <wsdl:message name="IwcfReporte_mostrarTopVentas_OutputMessage">
    <wsdl:part name="parameters" element="tns:mostrarTopVentasResponse" />
  </wsdl:message>
  <wsdl:message name="IwcfReporte_mostrarTopPago_InputMessage">
    <wsdl:part name="parameters" element="tns:mostrarTopPago" />
  </wsdl:message>
  <wsdl:message name="IwcfReporte_mostrarTopPago_OutputMessage">
    <wsdl:part name="parameters" element="tns:mostrarTopPagoResponse" />
  </wsdl:message>
  <wsdl:message name="IwcfReporte_mostrarTopMarca_InputMessage">
    <wsdl:part name="parameters" element="tns:mostrarTopMarca" />
  </wsdl:message>
  <wsdl:message name="IwcfReporte_mostrarTopMarca_OutputMessage">
    <wsdl:part name="parameters" element="tns:mostrarTopMarcaResponse" />
  </wsdl:message>
  <wsdl:portType name="IwcfReporte">
    <wsdl:operation name="mostrarTopVentas">
      <wsdl:input wsaw:Action="http://tempuri.org/IwcfReporte/mostrarTopVentas" message="tns:IwcfReporte_mostrarTopVentas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwcfReporte/mostrarTopVentasResponse" message="tns:IwcfReporte_mostrarTopVentas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="mostrarTopPago">
      <wsdl:input wsaw:Action="http://tempuri.org/IwcfReporte/mostrarTopPago" message="tns:IwcfReporte_mostrarTopPago_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwcfReporte/mostrarTopPagoResponse" message="tns:IwcfReporte_mostrarTopPago_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="mostrarTopMarca">
      <wsdl:input wsaw:Action="http://tempuri.org/IwcfReporte/mostrarTopMarca" message="tns:IwcfReporte_mostrarTopMarca_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwcfReporte/mostrarTopMarcaResponse" message="tns:IwcfReporte_mostrarTopMarca_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="wcfReporte" />
</wsdl:definitions>